:root {
    --nav-border-color: rgba(115, 130, 140, 0.2);
}

.container-fluid {
    box-shadow: 0 1px 0 var(--nav-border-color);
}

.submit-calculation {
    margin-top: 2rem ;
}

.row-fail {
    color: red;
}

.row-success {
    color: green;
}
